{% set pagination = pagination|default(page.collection.params.pagination) %}
{% set base_url = base_url|default(page.url) %}

{% if pagination|length > 1 %}

<ul class="blogPagination">
    {% if pagination.hasPrev %}
        {% set url =  base_url ~ (pagination.params ~ pagination.prevUrl)|replace({'//':'/'}) %}
        <li><a rel="prev" href="{{ url }}#toppost"><span class="paginationPrev ion-chevron-left"></span></a></li>
    {% else %}
        <li id="paginationDisabled"><span class="paginationPrev ion-chevron-left"></span></li>
    {% endif %}

    {% for paginate in pagination %}

        {% if paginate.isCurrent %}
            <li class="paginationCurrent"><span>{{ paginate.number }}</span></li>
        {% elseif paginate.isInDelta %}
            {% set url = base_url ~ (pagination.params ~ paginate.url)|replace({'//':'/'}) %}
            <li class="paginationOther"><a href="{{ url }}#toppost"><span>{{ paginate.number }}</span></a></li>
        {% elseif paginate.isDeltaBorder %}
            <li class="gap"><span>&hellip;</span></li>
        {% endif %}

    {% endfor %}
    {% if pagination.hasNext %}
        {% set url = base_url ~ (pagination.params ~ pagination.nextUrl)|replace({'//':'/'}) %}
        <li><a rel="next" href="{{ url }}#toppost"><span class="paginationNext ion-chevron-right"></span></a></li>
    {% else %}
        <li id="paginationDisabled"><a rel="next" href="{{ url }}"><span class="paginationNext ion-chevron-right"></span></a></li>
    {% endif %}
</ul>

{% endif %}
